<div class="sb-main">
    <div class="sb-main__header">
        &nbsp;
    </div>
    <div class="sb-main__middle">
        <div class="sb-main__middle__left">
            <router-link v-bind:to="previousPath" class="sb-main__middle__button--left">
                <span class="sb-main__middle__button__icon glyphicon glyphicon-chevron-left"></span>
            </router-link>
        </div>
        <div class="sb-main__middle__center">
            <router-view></router-view>
        </div>
        <div class="sb-main__middle__right">
            <router-link v-bind:to="nextPath" class="sb-main__middle__button--right">
                <span class="sb-main__middle__button__icon glyphicon glyphicon-chevron-right"></span>
            </router-link>
        </div>
    </div>
    <div class="sb-main__footer">
        &nbsp;
    </div>
</div>