<div class="sb-main">
    <div class="sb-main__header">
        &nbsp;
    </div>
    <div class="sb-main__middle">
        <div class="sb-main__middle__left">
            &nbsp;
        </div>
        <div class="sb-main__middle__center">
            <router-view></router-view>
        </div>
        <div class="sb-main__middle__right">
            &nbsp;
        </div>
    </div>
    <div class="sb-main__footer">
        <router-link to="/a">
            A
        </router-link>
        <router-link to="/b">
            B
        </router-link>
        <router-link to="/c">
            C
        </router-link>
    </div>
</div>